Idea.ERMT/Idea.Facade/Service References/RoleService/Idea.Server.SerializedObject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Idea.Server.SerializedObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Idea.Server.SerializedObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
</xs:schema>