Idea.ERMT/Idea.Facade/Service References/RoleService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Idea.Server.SerializedObject" />
  <xs:element name="GetNew">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Idea.Server.SerializedObject" minOccurs="0" name="GetNewResult" nillable="true" type="q1:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Idea.Server.SerializedObject" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>