Idea.ERMT/Idea.Facade/Service References/ModelFactorService/ModelFactorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModelFactorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IModelFactorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idea.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModelFactorService_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByModel" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetModelFactorWithDataAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelFactorWithDataAvailable" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetModelFactorWithDataAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelFactorWithDataAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetByModelAndFactorId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelAndFactorId" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_GetByModelAndFactorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelAndFactorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IModelFactorService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IModelFactorService">
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/Validate" message="tns:IModelFactorService_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/ValidateResponse" message="tns:IModelFactorService_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/Save" message="tns:IModelFactorService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/SaveResponse" message="tns:IModelFactorService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/GetAll" message="tns:IModelFactorService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/GetAllResponse" message="tns:IModelFactorService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/GetByModel" message="tns:IModelFactorService_GetByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/GetByModelResponse" message="tns:IModelFactorService_GetByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/Get" message="tns:IModelFactorService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/GetResponse" message="tns:IModelFactorService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelFactorWithDataAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/GetModelFactorWithDataAvailable" message="tns:IModelFactorService_GetModelFactorWithDataAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/GetModelFactorWithDataAvailableResponse" message="tns:IModelFactorService_GetModelFactorWithDataAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByModelAndFactorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/GetByModelAndFactorId" message="tns:IModelFactorService_GetByModelAndFactorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/GetByModelAndFactorIdResponse" message="tns:IModelFactorService_GetByModelAndFactorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelFactorService/Delete" message="tns:IModelFactorService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelFactorService/DeleteResponse" message="tns:IModelFactorService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IModelFactorService" type="tns:IModelFactorService">
    <wsp:PolicyReference URI="#NetTcpBinding_IModelFactorService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModel">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/GetByModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelFactorWithDataAvailable">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/GetModelFactorWithDataAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModelAndFactorId">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/GetByModelAndFactorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IModelFactorService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IModelFactorService" type="tns:IModelFactorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModel">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/GetByModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelFactorWithDataAvailable">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/GetModelFactorWithDataAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModelAndFactorId">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/GetByModelAndFactorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IModelFactorService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelFactorService">
    <wsdl:port name="NetTcpBinding_IModelFactorService" binding="tns:NetTcpBinding_IModelFactorService">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/ModelFactorService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IModelFactorService" binding="tns:BasicHttpBinding_IModelFactorService">
      <soap:address location="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/" />
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_IModelFactorService" binding="i0:MetadataExchangeHttpBinding_IModelFactorService">
      <soap12:address location="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorService/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>