Idea.ERMT/Idea.Facade/Service References/PhaseService/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Idea.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Idea.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phase" nillable="true" type="tns:Phase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhase" nillable="true" type="tns:ArrayOfPhase" />
  <xs:complexType name="Phase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column1Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column2Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column3Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDPhase" type="xs:int" />
      <xs:element minOccurs="0" name="ModelRiskAlertPhases" nillable="true" type="tns:ArrayOfModelRiskAlertPhase" />
      <xs:element minOccurs="0" name="PhaseBullets" nillable="true" type="tns:ArrayOfPhaseBullet" />
      <xs:element minOccurs="0" name="PractitionersTips" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phase" nillable="true" type="tns:Phase" />
  <xs:complexType name="ArrayOfModelRiskAlertPhase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelRiskAlertPhase" nillable="true" type="tns:ModelRiskAlertPhase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelRiskAlertPhase" nillable="true" type="tns:ArrayOfModelRiskAlertPhase" />
  <xs:complexType name="ModelRiskAlertPhase">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDModelRiskAlert" type="xs:int" />
      <xs:element minOccurs="0" name="IDModelRiskAlertPhase" type="xs:int" />
      <xs:element minOccurs="0" name="IDPhase" type="xs:int" />
      <xs:element minOccurs="0" name="ModelRiskAlert" nillable="true" type="tns:ModelRiskAlert" />
      <xs:element minOccurs="0" name="Phase" nillable="true" type="tns:Phase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelRiskAlertPhase" nillable="true" type="tns:ModelRiskAlertPhase" />
  <xs:complexType name="ModelRiskAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDModel" type="xs:int" />
      <xs:element minOccurs="0" name="IDModelRiskAlert" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
      <xs:element minOccurs="0" name="ModelRiskAlertAttachments" nillable="true" type="tns:ArrayOfModelRiskAlertAttachment" />
      <xs:element minOccurs="0" name="ModelRiskAlertPhases" nillable="true" type="tns:ArrayOfModelRiskAlertPhase" />
      <xs:element minOccurs="0" name="ModelRiskAlertRegions" nillable="true" type="tns:ArrayOfModelRiskAlertRegion" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelRiskAlert" nillable="true" type="tns:ModelRiskAlert" />
  <xs:complexType name="Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDModel" type="xs:int" />
      <xs:element minOccurs="0" name="IDRegion" type="xs:int" />
      <xs:element minOccurs="0" name="Markers" nillable="true" type="tns:ArrayOfMarker" />
      <xs:element minOccurs="0" name="ModelFactors" nillable="true" type="tns:ArrayOfModelFactor" />
      <xs:element minOccurs="0" name="ModelRiskAlerts" nillable="true" type="tns:ArrayOfModelRiskAlert" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:Region" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model" nillable="true" type="tns:Model" />
  <xs:complexType name="ArrayOfMarker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marker" nillable="true" type="tns:Marker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarker" nillable="true" type="tns:ArrayOfMarker" />
  <xs:complexType name="Marker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDMarker" type="xs:int" />
      <xs:element minOccurs="0" name="IDMarkerType" type="xs:int" />
      <xs:element minOccurs="0" name="IDModel" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarkerType" nillable="true" type="tns:MarkerType" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marker" nillable="true" type="tns:Marker" />
  <xs:complexType name="MarkerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDMarkerType" type="xs:int" />
      <xs:element minOccurs="0" name="Markers" nillable="true" type="tns:ArrayOfMarker" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarkerType" nillable="true" type="tns:MarkerType" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDModel" type="xs:int" />
      <xs:element minOccurs="0" name="IDReport" type="xs:int" />
      <xs:element minOccurs="0" name="Markers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDParent" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDRegion" type="xs:int" />
      <xs:element minOccurs="0" name="POIFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionLevel" type="xs:int" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShapeFileIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShapeFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
  <xs:complexType name="ModelRiskAlertRegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDModelRiskAlert" type="xs:int" />
      <xs:element minOccurs="0" name="IDModelRiskAlertRegion" type="xs:int" />
      <xs:element minOccurs="0" name="IDRegion" type="xs:int" />
      <xs:element minOccurs="0" name="ModelRiskAlert" nillable="true" type="tns:ModelRiskAlert" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelRiskAlertRegion" nillable="true" type="tns:ModelRiskAlertRegion" />
  <xs:complexType name="ModelFactorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDModelFactor" type="xs:int" />
      <xs:element minOccurs="0" name="IDModelFactorData" type="xs:int" />
      <xs:element minOccurs="0" name="IDRegion" type="xs:int" />
      <xs:element minOccurs="0" name="ModelFactor" nillable="true" type="tns:ModelFactor" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelFactorData" nillable="true" type="tns:ModelFactorData" />
  <xs:complexType name="ModelFactor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Factor" nillable="true" type="tns:Factor" />
      <xs:element minOccurs="0" name="IDFactor" type="xs:int" />
      <xs:element minOccurs="0" name="IDModel" type="xs:int" />
      <xs:element minOccurs="0" name="IDModelFactor" type="xs:int" />
      <xs:element minOccurs="0" name="Interval" type="xs:decimal" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="tns:Model" />
      <xs:element minOccurs="0" name="ModelFactorDatas" nillable="true" type="tns:ArrayOfModelFactorData" />
      <xs:element minOccurs="0" name="ScaleMax" type="xs:int" />
      <xs:element minOccurs="0" name="ScaleMin" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelFactor" nillable="true" type="tns:ModelFactor" />
  <xs:complexType name="Factor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CumulativeFactor" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataCollection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpiricalCases" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HtmlDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFactor" type="xs:int" />
      <xs:element minOccurs="0" name="InternalFactor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Interval" type="xs:decimal" />
      <xs:element minOccurs="0" name="Introduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelFactors" nillable="true" type="tns:ArrayOfModelFactor" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservableIndicators" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questionnaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScaleMax" type="xs:int" />
      <xs:element minOccurs="0" name="ScaleMin" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factor" nillable="true" type="tns:Factor" />
  <xs:complexType name="ArrayOfModelFactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelFactor" nillable="true" type="tns:ModelFactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelFactor" nillable="true" type="tns:ArrayOfModelFactor" />
  <xs:complexType name="PhaseBullet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDPhase" type="xs:int" />
      <xs:element minOccurs="0" name="IDPhaseBullet" type="xs:int" />
      <xs:element minOccurs="0" name="Phase" nillable="true" type="tns:Phase" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhaseBullet" nillable="true" type="tns:PhaseBullet" />
  <xs:complexType name="ModelRiskAlertAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDModelRiskAlert" type="xs:int" />
      <xs:element minOccurs="0" name="IDModelRiskAlertAttachment" type="xs:int" />
      <xs:element minOccurs="0" name="ModelRiskAlert" nillable="true" type="tns:ModelRiskAlert" />
      <xs:element minOccurs="0" name="_content" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelRiskAlertAttachment" nillable="true" type="tns:ModelRiskAlertAttachment" />
  <xs:complexType name="ArrayOfModelFactorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelFactorData" nillable="true" type="tns:ModelFactorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelFactorData" nillable="true" type="tns:ArrayOfModelFactorData" />
  <xs:complexType name="ArrayOfModelRiskAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelRiskAlert" nillable="true" type="tns:ModelRiskAlert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelRiskAlert" nillable="true" type="tns:ArrayOfModelRiskAlert" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="ArrayOfModelRiskAlertAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelRiskAlertAttachment" nillable="true" type="tns:ModelRiskAlertAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelRiskAlertAttachment" nillable="true" type="tns:ArrayOfModelRiskAlertAttachment" />
  <xs:complexType name="ArrayOfModelRiskAlertRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelRiskAlertRegion" nillable="true" type="tns:ModelRiskAlertRegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelRiskAlertRegion" nillable="true" type="tns:ArrayOfModelRiskAlertRegion" />
  <xs:complexType name="ArrayOfPhaseBullet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhaseBullet" nillable="true" type="tns:PhaseBullet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhaseBullet" nillable="true" type="tns:ArrayOfPhaseBullet" />
</xs:schema>