Idea.ERMT/Idea.Facade/Service References/RegionService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idea.Entities" />
  <xs:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChilds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetChildsResult" nillable="true" type="q2:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetResult" nillable="true" type="q3:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="region" nillable="true" type="q4:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="SaveResult" nillable="true" type="q5:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="region" nillable="true" type="q6:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChilds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChildsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetAllChildsResult" nillable="true" type="q7:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildsAtLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildsAtLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetChildsAtLevelResult" nillable="true" type="q8:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRegionLevelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetWorldResult" nillable="true" type="q9:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByShapeFileAndIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="shapeFileInfo" nillable="true" type="q10:FileInfo" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByShapeFileAndIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetRegionByShapeFileAndIndexResult" nillable="true" type="q11:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRelated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRelatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetAllRelatedResult" nillable="true" type="q12:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeatureIDsToExclude">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeatureIDsToExcludeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeatureIDsToExcludeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>