Idea.ERMT/Idea.Facade/Service References/RegionService/RegionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRegionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idea.Entities" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegionService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetChilds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChilds" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetChilds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IRegionService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IRegionService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRegionService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetAllChilds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChilds" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetAllChilds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChildsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetChildsAtLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildsAtLevel" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetChildsAtLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildsAtLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetRegionLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionLevel" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetRegionLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorld" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetRegionByShapeFileAndIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionByShapeFileAndIndex" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetRegionByShapeFileAndIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionByShapeFileAndIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetAllRelated_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRelated" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetAllRelated_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRelatedResponse" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetFeatureIDsToExclude_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeatureIDsToExclude" />
  </wsdl:message>
  <wsdl:message name="IRegionService_GetFeatureIDsToExclude_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeatureIDsToExcludeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegionService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetAll" message="tns:IRegionService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetAllResponse" message="tns:IRegionService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChilds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetChilds" message="tns:IRegionService_GetChilds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetChildsResponse" message="tns:IRegionService_GetChilds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/Get" message="tns:IRegionService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetResponse" message="tns:IRegionService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/Save" message="tns:IRegionService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/SaveResponse" message="tns:IRegionService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/Delete" message="tns:IRegionService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/DeleteResponse" message="tns:IRegionService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChilds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetAllChilds" message="tns:IRegionService_GetAllChilds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetAllChildsResponse" message="tns:IRegionService_GetAllChilds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildsAtLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetChildsAtLevel" message="tns:IRegionService_GetChildsAtLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetChildsAtLevelResponse" message="tns:IRegionService_GetChildsAtLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetRegionLevel" message="tns:IRegionService_GetRegionLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetRegionLevelResponse" message="tns:IRegionService_GetRegionLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetWorld" message="tns:IRegionService_GetWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetWorldResponse" message="tns:IRegionService_GetWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionByShapeFileAndIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetRegionByShapeFileAndIndex" message="tns:IRegionService_GetRegionByShapeFileAndIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetRegionByShapeFileAndIndexResponse" message="tns:IRegionService_GetRegionByShapeFileAndIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRelated">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetAllRelated" message="tns:IRegionService_GetAllRelated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetAllRelatedResponse" message="tns:IRegionService_GetAllRelated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeatureIDsToExclude">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegionService/GetFeatureIDsToExclude" message="tns:IRegionService_GetFeatureIDsToExclude_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegionService/GetFeatureIDsToExcludeResponse" message="tns:IRegionService_GetFeatureIDsToExclude_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRegionService" type="tns:IRegionService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRegionService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChilds">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetChilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChilds">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetAllChilds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildsAtLevel">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetChildsAtLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionLevel">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetRegionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorld">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionByShapeFileAndIndex">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetRegionByShapeFileAndIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRelated">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetAllRelated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeatureIDsToExclude">
      <soap12:operation soapAction="http://tempuri.org/IRegionService/GetFeatureIDsToExclude" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRegionService" type="tns:IRegionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChilds">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetChilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IRegionService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IRegionService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IRegionService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChilds">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetAllChilds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildsAtLevel">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetChildsAtLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionLevel">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetRegionLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorld">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionByShapeFileAndIndex">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetRegionByShapeFileAndIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRelated">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetAllRelated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeatureIDsToExclude">
      <soap:operation soapAction="http://tempuri.org/IRegionService/GetFeatureIDsToExclude" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegionService">
    <wsdl:port name="NetTcpBinding_IRegionService" binding="tns:NetTcpBinding_IRegionService">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RegionService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/RegionService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRegionService" binding="tns:BasicHttpBinding_IRegionService">
      <soap:address location="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/" />
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_IRegionService" binding="i0:MetadataExchangeHttpBinding_IRegionService">
      <soap12:address location="http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8731/Design_Time_Addresses/Idea.Server/RegionService/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>