Idea.ERMT/Idea.Facade/Service References/MarkerService/MarkerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarkerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMarkerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idea.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarkerService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByModelId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelId" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByModelId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByMarkerTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByMarkerTypeId" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByMarkerTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByMarkerTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByModelIdAndMarkerTypeIdAndFromAndTo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelIdAndMarkerTypeIdAndFromAndTo" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetByModelIdAndMarkerTypeIdAndFromAndTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByModelIdAndMarkerTypeIdAndFromAndToResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetMinDateByModelID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinDateByModelID" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetMinDateByModelID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinDateByModelIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetMaxDateByModelID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxDateByModelID" />
  </wsdl:message>
  <wsdl:message name="IMarkerService_GetMaxDateByModelID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxDateByModelIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarkerService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetAll" message="tns:IMarkerService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetAllResponse" message="tns:IMarkerService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/Get" message="tns:IMarkerService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetResponse" message="tns:IMarkerService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/Save" message="tns:IMarkerService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/SaveResponse" message="tns:IMarkerService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/Delete" message="tns:IMarkerService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/DeleteResponse" message="tns:IMarkerService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetByName" message="tns:IMarkerService_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetByNameResponse" message="tns:IMarkerService_GetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByModelId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetByModelId" message="tns:IMarkerService_GetByModelId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetByModelIdResponse" message="tns:IMarkerService_GetByModelId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByMarkerTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetByMarkerTypeId" message="tns:IMarkerService_GetByMarkerTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetByMarkerTypeIdResponse" message="tns:IMarkerService_GetByMarkerTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByModelIdAndMarkerTypeIdAndFromAndTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetByModelIdAndMarkerTypeIdAndFromAndTo" message="tns:IMarkerService_GetByModelIdAndMarkerTypeIdAndFromAndTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetByModelIdAndMarkerTypeIdAndFromAndToResponse" message="tns:IMarkerService_GetByModelIdAndMarkerTypeIdAndFromAndTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMinDateByModelID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetMinDateByModelID" message="tns:IMarkerService_GetMinDateByModelID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetMinDateByModelIDResponse" message="tns:IMarkerService_GetMinDateByModelID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxDateByModelID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarkerService/GetMaxDateByModelID" message="tns:IMarkerService_GetMaxDateByModelID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarkerService/GetMaxDateByModelIDResponse" message="tns:IMarkerService_GetMaxDateByModelID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMarkerService" type="tns:IMarkerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMarkerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModelId">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetByModelId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByMarkerTypeId">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetByMarkerTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModelIdAndMarkerTypeIdAndFromAndTo">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetByModelIdAndMarkerTypeIdAndFromAndTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinDateByModelID">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetMinDateByModelID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxDateByModelID">
      <soap12:operation soapAction="http://tempuri.org/IMarkerService/GetMaxDateByModelID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMarkerService" type="tns:IMarkerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModelId">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetByModelId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByMarkerTypeId">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetByMarkerTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByModelIdAndMarkerTypeIdAndFromAndTo">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetByModelIdAndMarkerTypeIdAndFromAndTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinDateByModelID">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetMinDateByModelID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxDateByModelID">
      <soap:operation soapAction="http://tempuri.org/IMarkerService/GetMaxDateByModelID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarkerService">
    <wsdl:port name="NetTcpBinding_IMarkerService" binding="tns:NetTcpBinding_IMarkerService">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/Idea.Server/MarkerService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMarkerService" binding="tns:BasicHttpBinding_IMarkerService">
      <soap:address location="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/" />
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_IMarkerService" binding="i0:MetadataExchangeHttpBinding_IMarkerService">
      <soap12:address location="http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8731/Design_Time_Addresses/Idea.Server/MarkerService/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>