Idea.ERMT/Idea.Facade/Service References/ModelFactorDataService/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelFactorDataService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idea.Entities" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelFactorData" nillable="true" type="q1:ModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="SaveResult" nillable="true" type="q2:ModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDateForPastedDataByModelFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDateForPastedDataByModelFactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableDateForPastedDataByModelFactorResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDateForPastedDataByRegionAndModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
        <xs:element minOccurs="0" name="idModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDateForPastedDataByRegionAndModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableDateForPastedDataByRegionAndModelResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetAllResult" nillable="true" type="q3:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelFactorData" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetResult" nillable="true" type="q4:ModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateModelRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idModel" type="xs:int" />
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateModelRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetByDateModelRegionResult" nillable="true" type="q5:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateModelFactorRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByDateModelFactorRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetByDateModelFactorRegionResult" nillable="true" type="q6:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByModelFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByModelFactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetByModelFactorResult" nillable="true" type="q7:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
        <xs:element minOccurs="0" name="regionsIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetMapDataResult" nillable="true" type="q8:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetweenDatesModelFactorRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
        <xs:element minOccurs="0" name="regionsIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetweenDatesModelFactorRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetBetweenDatesModelFactorRegionResult" nillable="true" type="q9:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinorDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinorDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMinorDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMajorDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxLevelWithData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxLevelWithDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxLevelWithDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFactorLastDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFactorLastDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetModelFactorLastDateResult" nillable="true" type="q10:ModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFactorWithDataAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModel" type="xs:int" />
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelFactorWithDataAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetModelFactorWithDataAvailableResult" nillable="true" type="q11:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetByRegionResult" nillable="true" type="q12:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByModelFactorIdAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelFactor" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByModelFactorIdAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetByModelFactorIdAndDateResult" nillable="true" type="q13:ArrayOfModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelfactordata" nillable="true" type="q14:ModelFactorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsWithData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelFactors" nillable="true" type="q15:ArrayOfModelFactor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsWithDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetRegionsWithDataResult" nillable="true" type="q16:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>