Idea.ERMT/Idea.Facade/Service References/ModelRiskAlertService/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idea.Entities" />
  <xs:import schemaLocation="http://localhost:8731/Design_Time_Addresses/Idea.Server/ModelRiskAlertService/mex?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModel" nillable="true" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="regions" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetWithFilterResult" nillable="true" type="q3:ArrayOfModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlert" nillable="true" type="q4:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="SaveResult" nillable="true" type="q5:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlert" nillable="true" type="q6:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewModelRiskAlertAttachment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewModelRiskAlertAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetNewModelRiskAlertAttachmentResult" nillable="true" type="q7:ModelRiskAlertAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewModelRiskAlertPhase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewModelRiskAlertPhaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetNewModelRiskAlertPhaseResult" nillable="true" type="q8:ModelRiskAlertPhase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlertPhase" nillable="true" type="q9:ModelRiskAlertPhase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlertRegion" nillable="true" type="q10:ModelRiskAlertRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlertAttachment" nillable="true" type="q11:ModelRiskAlertAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewModelRiskAlertRegion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewModelRiskAlertRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetNewModelRiskAlertRegionResult" nillable="true" type="q12:ModelRiskAlertRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegionsWithAlerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegionsWithAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetAllRegionsWithAlertsResult" nillable="true" type="q13:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idModelRiskAlert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetResult" nillable="true" type="q14:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlert" nillable="true" type="q15:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetRegionsResult" nillable="true" type="q16:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlert" nillable="true" type="q17:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetPhasesResult" nillable="true" type="q18:ArrayOfModelRiskAlertPhase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelRiskAlertRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlert" nillable="true" type="q19:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelRiskAlertRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetModelRiskAlertRegionsResult" nillable="true" type="q20:ArrayOfModelRiskAlertRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelRiskAlertAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlert" nillable="true" type="q21:ModelRiskAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelRiskAlertAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="GetModelRiskAlertAttachmentsResult" nillable="true" type="q22:ArrayOfModelRiskAlertAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlertPhase" nillable="true" type="q23:ModelRiskAlertPhase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlertRegion" nillable="true" type="q24:ModelRiskAlertRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Idea.Entities" minOccurs="0" name="modelRiskAlertAttachment" nillable="true" type="q24:ModelRiskAlertAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>